body{
    background-color: #131313;
    display: grid;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
    
form{
    margin: auto;
    max-width: 450px;
    background-color: rgb(255 255 255 / 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1.5em;
    border-radius: 0.5rem;
    position: relative;
    text-align: center;
}

.graphic-video{
    position: absolute;
    width: 420px;
    height: 403px;
    left: 465px;
    top: 115px;
    border-radius: 0.5rem;
    z-index: -1;
    overflow: hidden;
    filter: contrast(2) saturate(2);
}
img{
    width: 100%;
    height: 100%;
}
h1{
    -webkit-text-stroke: 3px #3b28cc;
    color: transparent;
    font-size: 2.5em;
    text-shadow:  0 0 15px #3b28cc;
}

form > div{
    display: grid;
    row-gap: 1rem;
}

.input-form{
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}


p{
    font-weight: 600;
}

input{
    border-radius: 0.5rem;
    border: none;
    outline: none;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 0.5);
    transition: all 300ms;
}


input:focus{
    border: 3px solid #27a300;
    box-shadow:  0 0 55px #27a300,
                 0 0 15px inset #27a300;
                 animation: inputs-animatios 300ms alternate linear;
}

@keyframes inputs-animatios{
    0%{
        transform: translate(0);
    }
    40%{
        transform: translateX(-5px);
    }
    60%{
        transform: translateX(5px);
    }
}

.buttons{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}


button{
    border: none;
    padding: 1em;
    margin: 2rem 0 0 0;
    width: 100px;
    border-radius: 0.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    background-color: #27a300;
    color: white;
    box-shadow: 0 0 25px #27a300,
                0 0 25px inset #27a300,
                0 0 15px inset white;
    backdrop-filter: blur(20px);
    cursor: pointer;
}
button:nth-last-of-type(1){
    background-color: red;
    background-color: #3b28cc;
    color: white;
    box-shadow: 0 0 25px #3b28cc,
                0 0 25px inset #3b28cc,
                0 0 10px inset white;
    backdrop-filter: blur(20px);
}

